<!-- Start Page Content -->
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-primary">Student</h3> </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
      <li class="breadcrumb-item active">Student</li>
    </ol>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Student</h4>
          <h6 class="card-subtitle">All Student</h6>
          <div class="input-group">
            <div class="input-group-addon"><i class="ti-search"></i></div>
            <input type="text" class="form-control" id="search" placeholder="Search By ID" #search (keyup)="filterStudents(search.value)">
          </div>
          <div class="table-responsive m-t-40">
            <table id="myTable" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th class="table-col">ID</th>
                <th class="table-col">NAME</th>
                <th class="table-col">View Batches</th>
                <th class="table-col">Add Batches</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let student of students;">
                <td class="table-col">{{student.id}}</td>
                <td class="table-col">{{student.name}}</td>
                <td class="table-col"><a class="button" href="#" [queryParams]="{ studentname: student.name }" [routerLink]="['/student/studentadd/batches/',student.id]">VIEW BATCHES</a></td>
                <td class="table-col"><a class="button" href="#" [queryParams]="{ studentname: student.name }" [routerLink]="['/student/studentadd/addbatch/',student.id]">ADD BATCHES</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End PAge Content -->
</div>
